@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold mb-4 ;
  }
  h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
    content: "";
    @apply inline-block size-3 bg-main me-1;
  }
  a {
    @apply underline text-main;
  }
  p {
    @apply leading-6 mb-4;
  }
  hr {
    @apply my-4 border-gray-500;
  }
  ul {
    list-style: "* ";
    @apply mb-4;
    > li {
      @apply ms-5;
      > p {
        @apply mb-0;
      }
    }
    ::marker {
      @apply text-gray-500;
    }
  }
  pre {
    @apply p-2;
  }
}

@layer components {
  .main-grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 228px;
    grid-template-areas:
      "main     nav"
      "main socials";
    & main     { grid-area: main;    }
    & .nav     { grid-area: nav;     }
    & .socials { grid-area: socials; }
    @media screen and (max-width: 639px) {
      grid-template-areas:
        "nav"
        "main"
        "socials";
      grid-template-columns: 1fr;
    }
  }
  .link-item:hover::before {
    animation: blink 1.5s infinite step-end;
  }
  #home .link-item[href="/"]::before,
  #projects .link-item[href^="/projects"]::before {
    @apply bg-main;
  }
}

@layer utilities {
  .space-mono {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }
}

@keyframes blink {
  from, to {opacity: 1;}
  50%      {opacity: 0;}
}
