---
import LinkItems from "@/components/LinkItems.astro"

const socials = [
  { url: "https://github.com/geraldsaberon/", text: "GitHub" },
  { url: "https://www.linkedin.com/in/gerald-saberon/", text: "LinkedIn" },
  { url: "mailto:geraldsaberon01@gmail.com", text: "Email" },
]
---

<section class="socials px-8">
  <h1 class="before:content-none mb-2 font-normal">Links</h1>
  <LinkItems links={socials} external={true}/>
</section>
