---
import Navigation from "@/components/Navigation.astro"
import Socials from "@/components/Socials.astro";
import "../styles/global.css"

const { title, id } = Astro.props;
---

<html lang="en" class="space-mono text-sm">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    </head>
    <body id={id} class="text-white bg-slate-900">
        <div class="main-grid md:w-[90%] lg:w-[75%] xl:w-[60%] mx-4 sm:mx-auto py-4">
            <main class="p-8">
                <h1>{title}</h1>
                <slot />
            </main>
            <Navigation />
            <Socials />
        </div>
    </body>
</html>
